<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="{{ url_for('main.index') }}">Home</a></li>
        <li><a href="{{ url_for('image.image_upload') }}">Image Upload</a></li>
        <li><a href="{{ url_for('main.about') }}">About</a></li>
        <li class="language-switcher">
            <a href="{{ url_for('main.set_language', lang='en') }}">{{ _('English') }}</a> |
            <a href="{{ url_for('main.set_language', lang='de') }}">{{ _('German') }}</a>
        </li>
    </ul>
</nav>

<div class="area">
    <ul class="circles">
        <li></li><li></li><li></li><li></li><li></li>
        <li></li><li></li><li></li><li></li><li></li>
    </ul>
</div>

<div class="form-container">
    <div class="upload-files-container about-trail">
        <h1>About TRAIL</h1>
        <h2>TRAIL Version 1.1.2</h2>
        <p class="trail-description">
            {{ _('TRAIL is designed to promote inclusion in education and to support research activities. '
                    'It is intended to be a tool for creating inclusive and accessible contents and collaborations within academic '
                    'and non-commercial settings.') }}
        </p>
        <p class="trail-terms">
            {{ _('The use of this application is strictly limited to educational and research purposes. '
                    'Any commercial use, including but not limited to generating financial profit or distributing '
                    'the software for monetary gain, is expressly prohibited.') }}
        </p>
        <p class="trail-compliance">
            {{ _('By using TRAIL, you agree to comply with these terms.') }}
        </p>
        <p class="trail-author">
            {{ _('TRAIL was developed by') }}
            <strong>Leon Schüßler</strong> (<a href="https://github.com/AltarisV" target="_blank">https://github.com/AltarisV</a>).
        </p>
    </div>
</div>
</body>
</html>
