<!DOCTYPE html>
<html lang="en">
<head>
    <title>File Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="form-container">
    <div class="upload-files-container">
        <form
                enctype="multipart/form-data"
                action="{{ url_for('file.convert_pdf', filename=filename) }}"
                method="post"
                id="conversionForm"
        >
            <h3>Details for {{ filename }}</h3>
            <p>This PDF has {{ page_count }} pages.</p>

            <!-- Language selection dropdown -->
            <label for="language">Choose a language for conversion:</label>
            <select name="language" id="language">
                <option value="english">English</option>
                <option value="german" selected>German</option>
                <!-- Add other languages as needed -->
            </select>

            <!-- Input for starting page -->
            <label for="start_page">Enter starting page:</label>
            <input type="number" name="start_page" id="start_page" min="1" max="{{ page_count }}" value="1">

            <!-- Input for number of pages -->
            <label for="num_pages" style="text-align: center">Enter number of pages to convert <br>
                (optional, leave empty if you want to convert till the end):</label>
            <input type="number" name="num_pages" id="num_pages" min="1" max="{{ page_count }}">

            <!-- Button to convert the full document -->
            <input class="upload-button" type="submit" value="Convert Full Document" />

            <!-- Button to convert specified pages -->
            <button type="button" class="upload-button" onclick="submitPartialConversion()">
                Convert from Specified Pages
            </button>

            <button class="upload-button" type="button" onclick="window.location.href='{{ url_for('main.index') }}'">
                Back to file list
            </button>
        </form>
    </div>
</div>

<script>
    function submitPartialConversion() {
        var form = document.getElementById('conversionForm');
        form.action = "{{ url_for('file.convert_pdf_n_pages', filename=filename) }}";
        form.submit();
    }
</script>
</body>
</html>
